.report-page {
    height: 100vh;
    background-color: black;
}

.report-page h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 2rem;
    text-shadow: 2px 1px 23px white;
}

.report-header {
    display: flex;
    flex-direction: column;
}

.report-header span {
    font-size: 1rem;
}

.report-textarea {
    width: 99.5%;
    height: 200px;
    flex: 1;
}

.report-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 4;
    width: 100%;
}

.report-button {
    width: 100%;
    padding: 2rem 3rem;
    text-align: center;
    font-size: 2rem;
    border: none;
    background: none;
    color: white;
    background-color: black;
    flex: 1;
}

.alien-select{
    padding-left: .5rem;
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid #fff;
    color: white;
    margin-bottom: 1.5rem;
    background-color: black;
    font-size: 1rem;
}

.showValidation .ng-invalid {
    border: 2px solid cyan;
    animation: border-pulsate 1s infinite;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.8);
}

@keyframes border-pulsate {
    0%   { border-color: rgba(0, 255, 255, 1); }
    50% { border-color: rgba(0, 255, 255, 0); }
    100%   { border-color: rgba(0, 255, 255, 1); }
}