
.encounters-page {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.encounters-wrapper {
    height: 400px;
    overflow: auto;
    flex: 1;
}
.encounters-list {
    padding: 0 1rem 2rem;
    background: url("../assets/galaxyWallpaper1.jpg");
}

.encounters-detail {
    margin-bottom: 1rem;
    color: white;
}

.encounters-detail:hover {
    text-shadow: 2px 2px 4px black, 0 0 25px salmon, 0 0 5px red;
    color: #FEBDE2;
}

.encounters-header {
    text-align: center;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    background-color: black;
    color: white;
}

.encounters-header span {
    font-size: 1rem;
}

.encounters-button {
    width: 100%;
    padding: 3rem 2rem;
    text-align: center;
    font-size: 2rem;
    border: none;
    background: none;
    color: white;
    background-color: black;
    flex: 0.5;
}

/*.encounter-button a{
    text-decoration: none;
    color: white;
}*/