<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <div class="encounters-page">
    <h1 class="encounters-header">recent encounters <span>see an alien? report it!</span></h1>

    <div class="encounters-wrapper">
      <ul class="encounters-list">
        <li class="encounters-detail" *ngFor="let encounter of encountersList">
            <div>{{encounter.date}} - {{encounter.atype}} - {{encounter.colonist_id}}</div>
            <p>{{encounter.action}}</p>
        </li>
      </ul>
    </div>

    <a href="http://localhost:4200/report"><button class="encounters-button">Report Encounter</button></a>

  </div>
  
</body>
</html>
