.check-in-page {
    background-color: black;
    height: 100vh;
}

.page-header {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 2rem 1rem;
}

.register-input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.register-input-wrapper input {
    padding-left: .5rem;
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-bottom: 1.5rem;
    background-color: black;
    font-size: 1rem;
}

.register-input-wrapper ::-webkit-input-placeholder {
    color: #AED0FF;
}

.register-button {
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 2rem;
    border: none;
    background: none;
    color: white;
}

.occupation-option{
    padding-left: .5rem;
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid #fff;
    color: #AED0FF;
    margin-bottom: 1.5rem;
    background-color: black;
    font-size: 1rem;
    background-image: black;
}

.showValidation .ng-invalid {
    border: 2px solid cyan;
    animation: border-pulsate 1s infinite;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.8);
}

@keyframes border-pulsate {
    0%   { border-color: rgba(0, 255, 255, 1); }
    50% { border-color: rgba(0, 255, 255, 0); }
    100%   { border-color: rgba(0, 255, 255, 1); }
}

img {
    display: block;
    margin: 20px auto;
    border: 20px solid cyan;
    animation: border-pulsate 2s infinite;
}